<footer>
  <div class="ui vertical footer segment">
    <div class="ui two column doubling stackable grid container">
      <div class="column top aligned">
        <span class="ui copyright">&copy; 2017 lazyrodi</span>
      </div>
      <div class="column right aligned">
        <img src="images/lazyrodi_logo.png" width="40px;" style="vertical-align:top;" id="avatar_dev" data-title="Developer" data-content="lazyrodi@gmail.com" data-variation="inverted">
        <a href="#" target="_blank"><img src="images/github_logo.png" width="40px;" style="vertical-align:top;"></a>
        <a href="https://nodejs.org/" target="_blank"><img src="images/nodejs_logo.png" width="40px;" style="vertical-align:top;"></a>
        <a href="https://semantic-ui.com" target="_blank"><img src="images/semanticui_logo.png" width="40px;" style="vertical-align:top;"></a>           
      </div>
    </div>
  </div>
</footer>

<script>
$("#avatar_dev").popup();
</script>