<!-- Invisible Contents -->
  <!-- Shortcut Key Viewer -->
<div class="ui basic modal">
  <div class="ui icon header">
    <i class="info circle icon modal_main_title"> Info.</i>
  </div>
    <center>
      <div class="content" style="margin-top:3em;">
          <div class="ui grid">
              <div class="four wide column"></div>
              <div class="four wide column modal_sub_title">Shortcut Key</div>
              <div class="four wide column modal_sub_title">Do</div>
              <div class="four wide column"></div>
              <div class="four wide column"></div>
              <div class="four wide column modal_text">P, p, &larr;</div>
              <div class="four wide column left aligned modal_text">Previous page</div>
              <div class="four wide column"></div>
              <div class="four wide column"></div>
              <div class="four wide column modal_text">N, n, &rarr;</div>
              <div class="four wide column left aligned modal_text">Next page</div>
              <div class="four wide column"></div>
              <div class="four wide column"></div>
              <div class="four wide column modal_text">F, f</div>
              <div class="four wide column left aligned modal_text">See Full cases</div>
              <div class="four wide column"></div>
              <div class="four wide column"></div>
              <div class="four wide column modal_text">I, i</div>
              <div class="four wide column left aligned modal_text">See Important cases</div>
              <div class="four wide column"></div>
              <div class="four wide column"></div>
              <div class="four wide column modal_text">C, c</div>
              <div class="four wide column left aligned modal_text">Go to Category C page</div>
              <div class="four wide column"></div>
          </div>
      </div>
    </center>
  <div class="ui grid" style="margin-top:2em;">
      <div class="four wide column"></div>
      <div class="right aligned nine wide column">
        <div class="actions">
            <div class="ui teal inverted ok button">
              <i class="checkmark icon"></i> Got it!
            </div>
        </div>
      </div>
      <div class="three wide column"></div>
  </div>
</div>

<!-- Visible Contents -->
<header>
  <div class="ui fixed menu">
    <div class="ui container">
      <a href="/" class="header item">
        <img class="logoImage" src="images/logo.png">
        Repeat!
      </a>
      <div class="ui simple dropdown item">
        Category A<i class="dropdown icon"></i>
        <div class="menu">
          <div class="item">
            <i class="dropdown icon"></i>
              <span class="sub_category">Sub-Category A</span>
            <div class="menu">
              <a class="item" href="/case_a_1">Case A-1</a>
              <a class="item" href="#">Case A-2</a>
            </div>
          </div>
          <div class="item">
            <i class="dropdown icon"></i>
              <span class="sub_category">Sub-Category B</span>
            <div class="menu">
              <a class="item" href="#">Case B-1</a>
              <a class="item" href="#">Case B-2</a>
              <a class="item" href="#">Case B-3</a>
              <a class="item" href="#">Case B-4</a>
            </div>
          </div>
          <div class="item">
            <i class="dropdown icon"></i>
              <span class="sub_category">Sub-Category C</span>
            <div class="menu">
              <a class="item" href="#">Case C-1</a>
              <a class="item" href="#">Case C-2</a>
              <a class="item" href="#">Case C-3</a>
            </div>
          </div>
        </div>
      </div>

      <div class="ui simple dropdown item">
        Category B<i class="dropdown icon"></i>
        <div class="menu">
          <div class="item">
            <i class="dropdown icon"></i>
              <span class="sub_category">Sub-Category A</span>
            <div class="menu">
              <a class="item" href="#">Case A-1</a>
              <a class="item" href="#">Case A-2</a>
            </div>
          </div>
          <div class="item">
            <i class="dropdown icon"></i>
              <span class="sub_category">Sub-Category B</span>
            <div class="menu">
              <a class="item" href="#">Case B-1</a>
              <a class="item" href="#">Case B-2</a>
              <a class="item" href="#">Case B-3</a>
              <a class="item" href="#">Case B-4</a>
            </div>
          </div>
          <div class="item">
            <i class="dropdown icon"></i>
              <span class="sub_category">Sub-Category C</span>
            <div class="menu">
              <a class="item" href="#">Case C-1</a>
              <a class="item" href="#">Case C-2</a>
              <a class="item" href="#">Case C-3</a>
            </div>
          </div>
        </div>
      </div>

      <div class="right menu">
        <a class="item" href="#">Category C</a>
        <div class="ui simple dropdown item">
          Bookmarks <i class="dropdown icon"></i>
          <div class="menu">
              <div class="header">Header 1</div>
              <div class="item">
                <i class="dropdown icon"></i>
                <span class="text">Bookmark 1</span>
                <div class="menu">
                  <a class="item" href="#">Bookmark 1-1</a>
                  <a class="item" href="#">Bookmark 1-2</a>
                </div>
              </div>
              <div class="item">
                <i class="dropdown icon"></i>
                <span class="text">Bookmark 2</span>
                <div class="menu">
                  <a class="item" href="#">Bookmark 2-1</a>
                  <a class="item" href="#">Bookmark 2-2</a>
                  <a class="item" href="#">Bookmark 2-3</a>
                </div>
              </div>
              <div class="divider"></div>
              <div class="header">Header 2</div>
              <a class="item" href="#">Bookmark 3</a>
              <a class="item" href="#">Bookmark 4</a>
              <a class="item" href="#">Bookmark 5</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>